*.pdb
test/d3d9/win64/
test/serverapp/intermediate/
test/serverapp/win64/
test/d3d10/intermediate/
test/d3d11/intermediate/
test/d3d11/win64/
build/
sample/opengl/intermediate/
sample/d3d11/intermediate/
intermediate/
output/
test/d3d10/win64/
test/gl2/win64/debug/cudart64_55.dll
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
compiler/vc12win64-cmake/
src/generated/
bin/
compiler/vc14win64-cmake/
